<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/main.css">
<title>Online Library Homepage</title>

</head>
<body>

<div class="navbar">
  <a href="#home">Home</a>
  <a href="#catalogue">Library Catalogue</a>
  <a href="#borrowed">Borrowed Books</a>
  <div class="search-container">
    <input type="text" id="searchInput" placeholder="Search books...">
    <button onclick="searchBooks()">Search</button>
  </div>
</div>

<div class="book">
    <img src="Bookimg/1984.jpg" alt="">
    <div class="book-details">
        <h1 class="book-title">1984</h1>
        <h3 class="book-author">George Orwell</h3>
        <p class="book-info">"1984" is a dystopian novel written by George Orwell and published in 1949. It is one of the most influential and widely read novels of the 20th century. The book explores themes of totalitarianism, surveillance, censorship, and individual freedom. Here are some key points about the book:</p>
    <div class="availability">
        <p class="status">Available</p>
        <button class="borrow-btn">borrow</button>
    </div>
    </div>
</div>

</body>
</html>
