{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Online Library Homepage</title>
</head>
<body>
    <div class="hero">
        <div class="overlay"></div>
        <div class="hero-text">
            <h1>Welcome to Our Online Library</h1>
            <p>Discover a world of knowledge and adventure with our extensive collection of books. Whether you're looking for the latest bestsellers or timeless classics, our library is open to all book enthusiasts.</p>
        </div>
    </div>
    <div class="book">
        <img src="{{book.image.url}}", alt='{{book.title}}'>
        <div class="book-details">
            <h1 class="book-title">Title: {{ book.title }}</h1>
            <h3 class="book-author">Auther: {{ book.author }}</h3>
            <p class="book-info">Category: {{book.category}}</p>
            <div class="availability">
                <p class="status">              
                    {% if book.borrowed == True %} 
                    Unavailable 
                    {%else%} Available
                    {%endif%}
                </p>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock content %}